<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:property-placeholder location="classpath:profesori.properties"/>
	
	<bean id = "profaPython" class="profesor.PythonProfesor">
		<constructor-arg ref = "predmetBaza"/> <!-- ovo je Dependency injection preko konstruktora -->
	</bean>
	
	
	<bean id = "profaJave" class="profesor.JavaProfesor">
		<property name="ime" value="${ime.profa.java}"/>
		<property name="predmet" ref="predmetJava"/>  <!-- ovo je Dependency injection preko settera -->
	</bean>
	
	
	<bean id="predmetBaza" class="profesor.Predmet">
		<property name="nazivPredmeta" value="Baze podataka"/>
	</bean>	
	
	<bean id="predmetJava" class="profesor.Predmet">
		<property name="nazivPredmeta" value="Java"/>
	</bean>

</beans>